In [1]:
print('Hello World!')

Hello World!

In [2]:
name = input('What is your name? ')

What is your name? Tharinda

In [3]:
print('Hello ' + name)

Hello Tharinda

In [4]:
# fundamental data types:
# int
# float
# complex
# bool
# str
# tuple
# list
# set
# dict
#
# classes (custom types)
#
# specialized data types (packages and modules from libraries)
#
# None

In [5]:
print(2 + 4)
print(2 - 4)
print(2 * 4)
print(2 / 4)

6
-2
8
0.5

In [6]:
print(type(2 + 4))
print(type(2 - 4))
print(type(2 * 4))
print(type(2 / 4))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>

In [7]:
print(10 - 0.2)
print(type(10 - 0.2))
print(9.9 + 1.1)
print(type(9.9 + 1.1))

9.8
<class 'float'>
11.0
<class 'float'>

In [8]:
print(2 ** 3)

8

In [9]:
print(2 // 4)
print(5 // 4)
print(7 // 4)

0
1
1

In [10]:
print(5 % 4)

1

In [11]:
print(round(3.1))
print(round(3.5))

3
4

In [12]:
print(abs(-20.21))

20.21

In [13]:
print(20 - 3 * 4)

8

In [14]:
# ()
# **
# * /
# + -

In [15]:
print(20 * 2 - 3 ** (4 - 2))

31

In [16]:
print(bin(5))

0b101

In [17]:
print(int('0b101', 2))

5

In [18]:
# variables
#
# snake_case
# start with lowercase or _
# do not overwrite keywords
# letters, numbers or _
# case sensitive

In [19]:
user_iq = 190
print(user_iq)

user_age = user_iq / 4
test = user_age
print(test)

190
47.5

In [20]:
# constants
PI = 3.14
print(PI)

3.14

In [21]:
# do not use __ before variable
# __test = 10

In [22]:
a, b, c = 1, 2, 3
print(a)
print(b)
print(c)

1
2
3

In [23]:
iq = 100
age = iq / 5
print(age)

# iq / 5        ->  expression
# age = iq / 5  ->  statement

20.0

In [24]:
# augmented assignment operator

value = 5
value = value + 1
print(value)

value += 1
print(value)

value -= 1
print(value)

value *= 2
print(value)

value /= 2
print(value)

# not working
# value++
# ++value
# value--
# --value

6
7
6
12
6.0

In [25]:
print(type("string"))
print(type('string'))

<class 'str'>
<class 'str'>

In [26]:
long_string = '''
this
 is
  a
very long
       string
'''

print(long_string)

this
 is
  a
very long
       string

In [27]:
first_name = 'Tharinda'
last_name = 'Rajapaksha'

# string concatenation
full_name = first_name + ' ' + last_name
print(full_name)

# not working
# print('hello' + 5)

Tharinda Rajapaksha

In [28]:
# type conversions

print(str(100))
print(type(str(100)))

print(int(str(100)))
print(type(int(str(100))))

100
<class 'str'>
100
<class 'int'>

In [29]:
# escape sequence

# not working
# weather = 'It's sunny!'

weather = "It's sunny!"
print(weather)

# not working
# weather = "It's "kind of" sunny!"

weather = 'It\'s sunny!'
print(weather)

weather = "It's \"kind of\" sunny!"
print(weather)

weather = "\t It\\'s \\\"kind of\" sunny! \nHope you have a good day!"
print(weather)

It's sunny!
It's sunny!
It's "kind of" sunny!
	 It\'s \"kind of" sunny!
Hope you have a good day!

In [30]:
name = 'Tharinda'
age = 22

print('Hi ' + name + ', you are ' + str(age) + ' years old.')

# formatted strings

print(f'Hi {name}, you are {age} years old.')
print('Hi {name}, you are {age} years old.'.format(name='Tharinda', age=22))
print('Hi {}, you are {} years old.'.format('Tharinda', 22))
print('Hi {}, you are {} years old.'.format(name, age))
print('Hi {0}, you are {1} years old.'.format(name, age))
print('Hi {1}, you are {0} years old.'.format(name, age))

Hi Tharinda, you are 22 years old.
Hi Tharinda, you are 22 years old.
Hi Tharinda, you are 22 years old.
Hi Tharinda, you are 22 years old.
Hi Tharinda, you are 22 years old.
Hi Tharinda, you are 22 years old.
Hi 22, you are Tharinda years old.